/src/px4_msgs
/build
/.vscode
/install
/log
/px4-ros2-interface-lib
__pycache__
garbage/
/src/controller/controller/__pycache__/
src/controller/controller/temp.py
src/controller/controller/temp2.py
src/controller/controller/temp3.py
src/controller/controller/temp4.py
/src/controller/controller/temp.py
